---
name: 'Email Notification Template'
description: 'This is the how the email notification will look like'
fromName: '{{ craft.app.projectConfig.get("email.fromName") }}'
fromEmail: '{{ craft.app.projectConfig.get("email.fromEmail") }}'
replyTo: '{{ craft.app.projectConfig.get("email.fromEmail") }}'
cc: null
bcc: null
subject: 'New submission from your {{ form.name }} form'
includeAttachments: true
---
<h1>Hey Dirty Dick Dave!!</h1>
<h2>Someone slid into your DMs 👀</h2>
<p>The following submission came in on {{ dateCreated|date('l, F j, Y \\a\\t g:ia') }}.</p>

<ul>
    {% for field in form.fields %}
        <li>{{ field.label }}: {{ field.valueAsString }}</li>
    {% endfor %}
</ul>
