{#- -- _components/pagination -- -#}

{# Sets a default value if not defined by `s-val:*` on the clicked element #}
{% set page = page ?? 1 %}
{# Page will always be set to the previous value, or `1` if none was defined %} #}
{{ hiddenInput('page', page ?? 1) }}

{% set entryQuery = craft.entries.limit(limit) %}

{# Paginates the entry query given the current page #}
{% set pageInfo = sprig.paginate(entryQuery, page) %}
{% set entries = pageInfo.pageResults %}

<div class="container-fluid py-5 mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-8 mx-auto">
            <h1 class="pb-5 xball">{{ title }}</h1>
            <table class="table">
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td><span class="text-muted font-weight-bold">{{ entry.date|date('medium') }}</span>
                        </td>
                        <td>{{ entry.title }} @ {{ entry.time|time('short') }} </td>
                        <td><span class="text-muted font-weight-bold">Location:</span> {{ entry.city }}
                            , {{ entry.state }}
                        </td>
                        <td><a href={{ entry.infoUrl }} class="btn btn-md btn-info" target="_blank">info</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# Pagination #}
            {% if entries %}
                {% set totalPagesToShow = 5 %}
                {% set halfTotalPagesToShow = (totalPagesToShow / 2)|round %}
                {% set startPage = max(1, pageInfo.currentPage - halfTotalPagesToShow) %}
                {% set endPage = min(pageInfo.totalPages, startPage + totalPagesToShow - 1) %}
                <nav aria-label="Pagination" class="pagination-container">
                    <ul class="pagination justify-content-center">

                        <li class="page-item{% if page == 1 %} disabled{% endif %}">
                            <a class="page-link" href="#" sprig s-val:page="{{ page - 1 }}"
                               s-push-url="?page={{ page - 1 }}">Previous</a>
                        </li>
                        {% if startPage > 1 %}
                            <li class="page-item">
                                <a class="page-link" sprig s-val:page="1" s-push-url="?page=1">1</a>
                            </li>
                            {% if startPage > 2 %}
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            {% endif %}
                        {% endif %}

                        {% for i in startPage..endPage %}
                            <li class="page-item{% if i == page %} active{% endif %}">
                                <a class="page-link" sprig s-val:page="{{ i }}" s-push-url="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}

                        {% if endPage < pageInfo.totalPages %}
                            {% if endPage < pageInfo.totalPages - 1 %}
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            {% endif %}
                            <li class="page-item">
                                <a class="page-link" sprig s-val:page="{{ pageInfo.totalPages }}"
                                   s-push-url="?page={{ pageInfo.totalPages }}">{{ pageInfo.totalPages }}</a>
                            </li>
                        {% endif %}


                        <li class="page-item{% if page == pageInfo.totalPages %} disabled{% endif %}">
                            <a class="page-link" href="#" sprig s-val:page="{{ page + 1 }}"
                               s-push-url="?page={{ page + 1 }}">Next</a>
                        </li>

                    </ul>
                </nav>

                <p>
                    <em>
                        Showing {{ pageInfo.first }}-{{ pageInfo.last }}
                        of {{ pageInfo.total }} entries.
                    </em><br>
                    <em>Page {{ pageInfo.currentPage }} of {{ pageInfo.totalPages }} pages.</em><br>
                </p>
            {% endif %}


        </div>
    </div>
</div>
