{% set params = {
    title: null,
    limit: '',
    section:'',
    dateRange:''
}|merge(params|default({})) %}

{#- -- _components/pagination -- -#}

{# Sets a default value if not defined by `s-val:*` on the clicked element #}
{% set page = page ?? 1 %}
{# Page will always be set to the previous value, or `1` if none was defined %} #}
{{ hiddenInput('page', page ?? 1) }}

{% set entryQuery = craft.entries.section(params.section).date(params.dateRange).limit(params.limit) %}

{# Paginates the entry query given the current page #}
{% set pageInfo = sprig.paginate(entryQuery, page) %}
{% set entries = pageInfo.pageResults %}

{% if entries|length %}
    <div class="container mx-auto p-4">
        <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-primary font-xball italic py-8">{{ params.title }}</h1>
        <table class="table-auto md:table-fixed">
            <tbody>
            {% for entry in entries %}
                <tr class="border-t border-gray">
                    <td class="text-left pr-4 py-4">
                        <span class="font-bold text-gray">{{ entry.date|date('medium') }}</span>
                    </td>
                    <td class="text-left pr-4 py-4">{{ entry.title }} @ {{ entry.time|time('short') }} </td>
                    <td class="text-left py-4">
                        <span class="font-bold text-gray">Location:</span> {{ entry.city }}, {{ entry.state }}
                    </td>
                    <td class="px-4 py-4">
                        <a href="{{ entry.infoUrl }}"
                           class="mx-auto text-white bg-primary hover:bg-secondary py-1 px-2 font-bold font-russo rounded-sm"
                           target="_blank">info</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# Pagination #}
        {% if entries %}
            {% set totalPagesToShow = 5 %}
            {% set halfTotalPagesToShow = (totalPagesToShow / 2)|round %}
            {% set startPage = max(1, pageInfo.currentPage - halfTotalPagesToShow) %}
            {% set endPage = min(pageInfo.totalPages, startPage + totalPagesToShow - 1) %}
            {# Styles #}
            {% set anchorClass = "border border-gray p-2 text-primary hover:bg-primary hover:text-white" %}
            <div class=flex"">
            <nav aria-label="Pagination">
                <ul class="flex">
                    <li class=" {% if page == 1 %} disabled {% endif %}">
                        <a class="{{ anchorClass }}" href="#" sprig s-val:page="{{ page - 1 }}">Previous</a>
                    </li>
                    {% if startPage > 1 %}
                        <li class="">
                            <a class="{{ anchorClass }}" sprig s-val:page="1">1</a>
                        </li>
                        {% if startPage > 2 %}
                            <li class=" disabled"><span class="{{ anchorClass }}">...</span></li>
                        {% endif %}
                    {% endif %}
                    {% for i in startPage..endPage %}
                        <li class="{% if i == page %} active {% endif %}">
                            <a class="{{ anchorClass }}" sprig s-val:page="{{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    {% if endPage < pageInfo.totalPages %}
                        {% if endPage < pageInfo.totalPages - 1 %}
                            <li class=" disabled"><span class="{{ anchorClass }}">...</span></li>
                        {% endif %}
                        <li class="">
                            <a class="{{ anchorClass }}" sprig s-val:page="{{ pageInfo.totalPages }}">{{ pageInfo.totalPages }}</a>
                        </li>
                    {% endif %}
                    <li class="{% if page == pageInfo.totalPages %} disabled{% endif %}">
                        <a class="{{ anchorClass }}" href="#" sprig s-val:page="{{ page + 1 }}">Next</a>
                    </li>
                </ul>
            </nav>
            </div>
        {% endif %}
    </div>
{% else %}
    <div class="container mx-auto p-4">
        <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-primary font-xball italic py-8">Stay tuned for more dates</h1>
    </div>
{% endif %}