{#- -- _components/pagination -- -#}
{% set today = "now"|date("Y-m-d") %}

{% if futureDates == 1 %}
    {% set today = ">= #{today}" %}
{% else %}
    {% set today = "<= #{today}" %}
{% endif %}

{# Sets a default value if not defined by `s-val:*` on the clicked element #}
{% set page = page ?? 1 %}
{# Page will always be set to the previous value, or `1` if none was defined %} #}
{{ hiddenInput('page', page ?? 1) }}

{% set entryQuery = craft.entries().date(today).orderBy(order).limit(limit) %}

{# Paginates the entry query given the current page #}
{% set pageInfo = sprig.paginate(entryQuery, page) %}
{% set entries = pageInfo.pageResults %}

{% if entries|length %}
    <div class="container-xl mx-auto container-shows">
        <div class="row">
            <div class="col-12">
                <h1>{{ title }}</h1>
                <div class="shows">
                    {% for entry in entries %}
                        {% include "_components/_shows" with {
                            title:entry.title,
                            date:entry.date|date('n/j/y'),
                            time:entry.time|time('short'),
                            location: "#{entry.city}, #{entry.state}",
                            infoUrl:entry.infoUrl
                        } %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row mt-2 mb-4">
            <div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6 ms-auto">
                {# Pagination #}
                {% if entries %}
                    {% set totalPagesToShow = 3 %}
                    {% set halfTotalPagesToShow = (totalPagesToShow / 2)|round %}
                    {% set startPage = max(1, pageInfo.currentPage - halfTotalPagesToShow) %}
                    {% set endPage = min(pageInfo.totalPages, startPage + totalPagesToShow - 1) %}
                    <nav aria-label="Pagination" class="pagination-container">
                        <ul class="pagination p-0">

                                <li class="page-item{% if page == 1 %} disabled{% endif %}">
                                    <a class="page-link " href="#" sprig s-val:page="{{ page - 1 }}"
                                       s-push-url="?page={{ page - 1 }}">Previous</a>
                                </li>

                            {% if startPage > 1 %}
                                <li class="page-item">
                                    <a class="page-link " sprig s-val:page="1" s-push-url="?page=1">1</a>
                                </li>
                                {% if startPage > 2 %}
                                    <li class="page-item disabled"><span class="page-link">...</span></li>
                                {% endif %}
                            {% endif %}

                            {% for i in startPage..endPage %}
                                <li class="page-item{% if i == page %} active{% endif %}">
                                    <a class="page-link " sprig s-val:page="{{ i }}"
                                       s-push-url="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endfor %}


                            {% if endPage < pageInfo.totalPages %}
                                {% if endPage < pageInfo.totalPages - 1 %}
                                    <li class="page-item disabled"><span class="page-link">...</span></li>
                                {% endif %}
                                <li class="page-item">
                                    <a class="page-link " sprig s-val:page="{{ pageInfo.totalPages }}"
                                       s-push-url="?page={{ pageInfo.totalPages }}">{{ pageInfo.totalPages }}</a>
                                </li>
                            {% endif %}

                                <li class="page-item{% if page == pageInfo.totalPages %} disabled{% endif %}">
                                    <a class="page-link " href="#" sprig s-val:page="{{ page + 1 }}"
                                       s-push-url="?page={{ page + 1 }}">Next</a>
                                </li>
                        </ul>
                    </nav>

                    <div class="pagination-info">
                        <p>Showing {{ pageInfo.first }}-{{ pageInfo.last }} of {{ pageInfo.total }} Show Dates.</p>
                        <p>{{ pageInfo.currentPage }} of {{ pageInfo.totalPages }} pages.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <div class="container-xl mx-auto container-shows">
        <div class="row">
            <div class="col-12">
                <h1>{{ title }}</h1>
                <h2 class="text-center">Stay tuned for upcoming shows!</h2>
            </div>
        </div>
    </div>
{% endif %}
