{% set headerImage = entry.headerImage.one() ?? null %}
{% set today = "now"|date("m/d/Y") %}
{# Fetch entries with a selected date in the next month #}
{% set start = now|atom %}
{#{% set entries = craft.entries().date(['and', ">= #{start}"]).all() %}#}
{% set entries = craft.entries().limit(10) %}
{#{% set entries = entries|multisort('date', direction=SORT_ASC).limit(20) %}#}
{# setting imag SRC sets #}
{% set srcSet = ['576w','768w','992w','1200w','1400w'] %}


{% include "partials/header" %}
{% include "partials/nav" %}

<div class="container-xl homepage-image">
    <div class="row">
        <div class="col-sm-12">
            {{ tag('img', {
                class:"img-fluid",
                src: headerImage.url,
                srcset: headerImage.getSrcset(srcSet),
                alt: headerImage.title,
            }) }}
        </div>
    </div>
</div>

<div class="container-xl homepage-buttons">
    <div class="row">
        <div class="col-12 buttons">
            {% set blocks = entry.listencta.all() %}
            {% if blocks|length %}
                {% for block in blocks %}
                    <a href="{{ block.platformUrl|raw }}" target="_blank"
                       class="btn btn-lg btn-primary">{{ block.platformName }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% if entries|length %}
<div class="container-xl homepage-shows">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 mx-auto">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        {% for entry in entries %}
                            <tr>
                                <td><span class="text-muted font-weight-bold">{{ entry.date|date('n/j/y') }}</span>
                                </td>
                                <td> {{ entry.title }} @ {{ entry.time|time('short') }} </td>
                                <td><span class="text-muted font-weight-bold">Location:</span> {{ entry.city }}
                                    , {{ entry.state }}</td>
                                <td><a href="{{ entry.infoUrl }}" class="btn btn-md btn-info" target="_blank">info</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% include "partials/footer" %}