{% include "partials/header" %}
{% include "partials/nav" %}

<div class="container-fluid pb-5 pt-3">
    <div class="row pt-5">
        <div class="col-sm-12">
            {% if entry.headerImage|length  %}
                <img class="img-fluid" src="{{entry.headerImage.one().getUrl()}}" alt="{{ entry.headerImageAlt }}">
                {# <p>Juicer</p> #}
            {% else %}
                <img class="img-fluid" src="/img/jumbo-1.jpg" alt="">
            {% endif %}

        </div>
    </div>
</div>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center flex-wrap">
            {% set blocks = entry.listencta.all() %}
            {% if blocks|length %}
                {% for block in blocks %}
                    <a href="{{block.platformUrl|raw}}" target="_blank" class="btn btn-lg btn-info m-3">{{block.platformName}}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


<div class="container-fluid p-5">
    <div class="row">
        <div class="col-sm-10 col-md-8 mx-auto">
            <table class="table">
                <tbody>
                {#            {% set entries = craft.entries().section('tourDates').all() %}#}
                {#            {% set entries = entries|multisort('date', direction=SORT_ASC)  %}#}
                {# Fetch the entries #}
                {# Fetch entries posted this month #}
                {% set today = "now"|date("m/d/Y") %}

                {# Fetch entries with a selected date in the next month #}
                {% set start = now|atom %}

                {% set entries = craft.entries()
                    .date(['and', ">= #{start}"])
                    .all() %}

                {% set entries = entries|multisort('date', direction=SORT_ASC) %}

                {% if entries|length %}
                    {% for entry in entries %}
                        <tr>
                            <td><span class="text-muted font-weight-bold">{{entry.date|date('medium') }}</span></td>
                            <td>{{entry.title}} @ {{entry.time|time('short')}} </td>
                            <td><span class="text-muted font-weight-bold">Location:</span> {{entry.city}}, {{entry.state}}</td>
                            <td><a href={{entry.infoUrl}} class="btn btn-md btn-info" target="_blank">info</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% include "partials/footer" %}