{% include "partials/header" %}
{% include "partials/nav" %}

{% set image = entry.headerImage.one ?: false  %}
{% include '_components/header.twig' with { params:{
    image: image,
    title: entry.title
}} %}

<div class="container-fluid mt-5" id="music">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-start">
                    {% if entry.albumCta|length %}
                        <p class="display-4 text-center xball">{{entry.albumCta}}</p>
                    {% else %}
                        <p class="display-4 text-center xball">ALBUM OUT NOW</p>
                    {% endif %}

                    {% if entry.albumCover|length %}
                        <img class="img-fluid" src="{{entry.albumCover.one().getUrl()}}" alt="{{ entry.headerImageAlt }}">
                    {% else %}
                        <img class="img-fluid" src="/img/album.jpg" alt="{{ entry.headerImageAlt }}">
                    {% endif %}
                </div>
                <div class="col-sm-12 col-md-6 d-flex justify-content-center">

                    <ul class="list-unstyled">
                        {% set blocks = entry.spotifyiframes.all() %}
                        {% if blocks|length %}
                            {% for block in blocks %}
                                <li class="mt-5"><iframe src="{{block.iframe}}" width="300" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

{% include "partials/footer" %}