{% set today = "now"|date("m/d/Y") %}
{# Fetch entries with a selected date in the next month #}
{% set start = now|atom %}
{% set end = now|atom %}

{% include "partials/header" %}
{% include "partials/nav" %}

{% set image = entry.headerImage.one ?: false  %}
{% include '_components/header.twig' with { params:{
    image: image,
    title: entry.pageTitle
}} %}

{% if entry.headerImage|length %}
<div class="container-fluid mt-5" id="tour" style="background-image:url('{{ entry.headerImage.one().getUrl() }}')">
    {% else %}
    <div class="container-fluid mt-5" id="tour" style="background-image: url('/crowd-stock.jpeg');">
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                {% if entry.pageTitle %}
                    <p class="display-4 text-center page-header-title" id="about-title">{{ entry.pageTitle }}</p>
                {% else %}
                    <p class="display-4 text-center page-header-title" id="tour-title">TOUR</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid py-5 mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-8 mx-auto">
                <h1 class="pb-5 xball">Upcoming Dates:</h1>
                <table class="table">
                    <tbody>
                    {# Fetch entries posted this month #}
                    {% set entries = craft.entries()
                        .date(['and', ">= #{start}"])
                        .all() %}
                    {% set entries = entries|multisort('date', direction=SORT_ASC) %}
                    {% if entries|length %}
                        {% for entry in entries %}
                            {% if  entry.date > '2021-04-01' %}
                                <tr>
                                    <td><span class="text-muted font-weight-bold">{{ entry.date|date('medium') }}</span>
                                    </td>
                                    <td>{{ entry.title }} @ {{ entry.time|time('short') }} </td>
                                    <td><span class="text-muted font-weight-bold">Location:</span> {{ entry.city }}
                                        , {{ entry.state }}
                                    </td>
                                    <td><a href={{ entry.infoUrl }} class="btn btn-md btn-info" target="_blank">info</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {# Passes a variable called `limit` into the component #}
    {{ sprig('_components/pagination', {
        'title':'Past Dates',
        'limit': 12,
        'start':start,
        'end':end
    }) }}


{% include "partials/footer" %}